<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hospital Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
    <style>
        .navbar-brand{
          color: #7AACB3;
      }
        .wrap-contact2{
            width: 1000px;
            height: auto;
        }
        
        td, th{
            padding: 15px;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
  <nav class="navbar bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">MIS | Hospital</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login/hospital">Write medical chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/view_chart">View medical chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/view_patient">View patient information</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<div class="bg-contact2" style="background-image: url('/images/bg-01.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				
					<span class="contact2-form-title">
						View medical charts
					</span>
                    <form action="/view_chart/patient" method="post">
                    <div align="right" class="input-group mb-3">
                      <div align="right" class="input-group-append">
                          <select name="patient">
                            <option value="">Select patient</option>
                            <% for(var i=0;i< names.length;i++){ %>
                                <option value="<%= names[i].patient_name %>"><%= names[i].patient_name %></option>                                                    
                            <% } %>
                        </select>
                        <button class="btn btn-outline-secondary" type="submit">Show by patient</button>
                      </div>
                    </div>
                    </form>
            
                
                        <span style="font-weight: bold;">In recent order</span><br/><br/>
                        <table width="800" style="margin: auto; text-align: center;">
                            <tr style="color: #7AACB4;">
                                <td>Receiption time</td>
                                <td>Patient name</td>
                                <td>Symptom</td>
                                <td>Diagnosis name</td>
                                <td>Treatment name</td>
                                <td>Pill name</td>
                                <td>Unit</td>
                            </tr>
                       <% for(var i=0;i<results.length;i++){ %>
                                        <tr>
                                       <td><%= results[i].receipt_time %></td>
                                        <td><%= results[i].patient_name %></td>
                                        <td><%= results[i].symptom %></td>
                                        <td><%= results[i].diagnosis_name %></td>
                                        <td><%= results[i].med_tr_name %></td>
                                            <td><%= results[i].pill_name %></td>
                                            <td><%= results[i].prsc_unit %></td>
                                        </tr>
                        <%    } %>
                       </table>
                    

				
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
